[mysqld]
log_bin                                         = 1
server_id                                       = 1
log-bin-index                                   = mysql_1
relay-log-index                                 = mysql_1
relay-log-info-repository                       = table
performance-schema-instrument                   = "statement/%=ON"
performance-schema-consumer-statements-digest   = ON
innodb_monitor_enable                           = ALL
activate_all_roles_on_login                     = ON