datadir="/var/lib/proxysql"

admin_variables=
{
    admin_credentials="admin:admin;radmin:radmin"
    mysql_ifaces="0.0.0.0:6032"
}

mysql_variables=
{
    threads=4
    max_connections=2048
    default_query_delay=0
    default_query_timeout=36000000
    have_compress=true
    poll_timeout=2000
    interfaces="0.0.0.0:6033"
    default_schema="information_schema"
    stacksize=1048576
    server_version="5.5.30"
    connect_timeout_server=3000
    monitor_username="proxysql_user"
    monitor_password="proxysql1234"
    monitor_history=600000
    monitor_connect_interval=60000
    monitor_ping_interval=10000
    monitor_read_only_interval=1500
    monitor_read_only_timeout=500
    ping_interval_server_msec=120000
    ping_timeout_server=500
    commands_stats=true
    sessions_sort=true
    connect_retries_on_failure=10
    monitor_read_only_max_timeout_count=100
}

mysql_servers = 
(
     { address="mysql_1" , port=3306 , hostgroup=10, max_connections=100, weight="1" },
     { address="mysql_2" , port=3306 , hostgroup=11, max_connections=100, weigth="99", max_replication_lag="50" }
)

mysql_replication_hostgroups = 
(
    { writer_hostgroup=10, reader_hostgroup=11, comment="R/W"}
)

mysql_users = 
(
    { username = "proxysql_user" , password = "proxysql1234" , default_hostgroup = 10 , active = 1 }
)

mysql_query_rules = 
(
    { rule_id = 1, match_pattern  = "^SELECT .* FOR UPDATE",  destination_hostgroup = 10 },
    { rule_id = 1, match_pattern  = "^SELECT .*",  destination_hostgroup = 11 }
)